
h3 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

h5 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

p {
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}